{% extends "student/base.html" %}
{% import 'macros.html.j2' as m %}

{% block main %}
<div class="container-fluid">
    <div class="row col-12 m-5">
        <h1 class="text-center">Dashboard</h1>
    </div>
    <hr class="w-75 mx-auto p-0 bg-dark opacity-100 rounded">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Number Of All Time Views</h1>
                <h2 class="text-center text-dark">{{s.views}}</h2>
            </div>
        </div>
        <div class="col-md-4  mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Number of All Time Sales</h1>
                <h2 class="text-center text-dark">{{s.sales}}</h2>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Number of Items</h1>
                <h2 class="text-center text-dark">{{s.num_items}}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Most Sold Item</h1>
                <h2 class="text-center text-dark">{{s.most_sold.name}}</h2>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Most Viewed Item</h1>
                <h2 class="text-center text-dark">{{s.most_viewed.name}}</h2>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="m-2 h-100 border">
                <h1 class="p-5">Most Popular Item</h1>
                <h2 class="text-center text-dark">{{s.most_popular.name}}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {%if pending_orders%}
        <div class="col-md-12">
            <div class="m-2 h-100 border">
                <h1 class="p-5 text-center">Pending Orders</h1>
                <ul class="list-group mx-3">
                    {%for i in pending_orders%}
                    <li class="list-group-item row text-center"><h3>
                        {{i.user.name}}:
                        <small class="text-muted">{{i.product.name}}</small>
                      </h3></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        {%endif%}
    </div>
</div>

{% endblock %}