{% extends "base.html" %}
{% import 'macros.html.j2' as m %}

{% block content %}
<div class="container">
    <div class="row justify-content-center p-5">
        <div class="col-lg-6 col-md-12 col-sm-12"><img src="{{ url_for('static', filename=product.img) }}" alt="" class="w-100 img-inline"></div>
        <div class="col-lg-3 col-md-6 d-flex align-items-end flex-column">
            <h1>{{product.name}}</h1>
            <h5>{{product.price}}</h5>
            <h4 class="col-lg-2 col-md-3">{{product.stock}}</h4>
            <p>{{product.desc}}</p>
            <div class="mt-auto mb-5">
                <form action="{{url_for('api.add_to_cart')}}" method="get">
                    <input type="hidden" name="item_id" value="{{product.id}}">
                    <button class="btn btn-secondary text-light btn-lg" type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>

{% endblock %}