{% extends "base.html" %}
{% import 'macros.html.j2' as m %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">

    <div class="card p-4 m-5 w-50">
      <h1 class="text-center">Club Signup</h1>
  <form action="club" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          {{m.input("name","Club Name: ")}}
        </div>
        <div class="mb-3">
            <textarea name="desc" cols="30" rows="10" placeholder="Description" class="form-control p-2"></textarea>
        </div>
        <div class="mb-3">
          {{m.input("phonenum","Phone Number: ")}}
        </div>
        <div class="mb-3">
          {{m.file_input("file","Logo: ", accept=".jpg")}}
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
</div>

{% endblock %}