{% extends "student/base.html" %}
{% import 'macros.html.j2' as m %}

{% block main %}
<div class="container-fluid">
    <div class="row col-12 m-5">
        <h1 class="text-center">Orders</h1>
    </div>
    <hr class="w-75 mx-auto p-0 bg-dark opacity-100 rounded">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Student</th>
                <th scope="col">Quantity</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
                {%for order in o%}
                <tr>
                    <td>{{order.product.name}}</td>
                    <td>{{order.user.username}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.product.stock}}</td>
                  </tr>
                {%endfor%}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}