{% extends "base.html" %}
{% import 'macros.html.j2' as m %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">

    <div class="card p-4 m-5 w-50">
      <h1 class="text-center">Login</h1>
      <form action="login" method="post">
        <div class="mb-3">
          {{m.input("email","Email: ")}}
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          {{m.input("pwd","Password: ", type="password")}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{url_for('auth.login_guest')}}" class="btn btn-primary">Login As Guest</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}