{% extends "base.html" %}
{% import 'macros.html.j2' as m %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
  <form action="signup" method="post" enctype="multipart/form-data">
    {{m.input("email","Email: ")}}
    {{m.input("uname","Username: ")}}
    {{m.input("pwd","Password: ", type="password")}}
    {{m.input("address","Address: ")}}
    {{m.input("phonenum","Phone Number: ")}}
    {{m.file_input("file","Profile Image: ", accept=".jpg")}}
    <input type="submit" value="Submit">
  </form>
</div>
</div>

{% endblock %}