{% macro input(name, label, value='', type='text', id="", class="form-control") -%}
    <label for="{{ name }}">{{ label }}</label>
    <input type="{{ type }}"
           value="{{ value|e }}"
           name="{{ name }}"
           class="{{class}}"
           {% if id %} id="{{ id }}" {% endif %}>
{%- endmacro %}
{% macro file_input(name, label, value='', accept="") -%}
    <label for="{{ name }}">{{ label }}</label>
    <input type="file"
           value="{{ value|e }}"
           name="{{ name }}"
           accept="{{ accept }}"
           class="form-control m-1">
{%- endmacro %}
{% macro select_input(name,title, values) -%}
<select class="form-select" aria-label="select" name="{{name}}">
  <option selected value="">{{title}}</option>
    {%for v,t in values%}

        <option value="{{v}}">{{t}}</option>
    {%endfor%}
</select>
{%- endmacro %}
{% macro modal(id, title) -%}
    <div class="modal fade"
         id="{{id}}"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button"
                            class="close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">{{ caller()}}</div>
            </div>
        </div>
    </div>
{%- endmacro %}
{% macro card(img, href="#") -%}
    <a class="card col-sm-12 col-md-5 col-lg-3 p-0 m-4 text-decoration-none text-dark" href={{href}}>
        <img src="{{ img }}" class="bg-light bg-gradient" alt="" width="100%" height="256"/>
        {{ caller()}}
    </a>
{%- endmacro %}
